                <NAV>
                        <UL>
                                <LI><a 
href="#Section_1">Getting Started</a></LI>
                                <LI><a 
href="#Section_2">Entertainment Projects</a></LI>
                                <LI><a 
href="#Section_3">Connected Projects</a></LI>
                                <LI><a 
href="#Section_4">Electronics Projects</a></LI>
                                <LI><a 
href="#Section_5">Research Projects</a></LI>
                        </UL>
                </NAV>
