<ARTICLE ID="Article_1">
                                <HEADER ID="Header_Article_1">
                                        <H2>Project Build 
Instructions</H2>
                                </HEADER>
                                <SECTION ID="Section_1">
                                        <H3>Getting Started</H3>
                                        <P><ul><li><a 
href="http://munro.humber.ca/~mdrk0011/projects/cribpi.php">Getting 
started with a single board microcomputer, comprised of a 900MHz quad-core ARM Cortex-A7 CPU  with 1GB SDRAM, 10/100 Mbit/s 
Ethernet, GPIO, UART, I²C bus, SPI bus, and 8 GB of Secure Digital storage from the Humber College Institute of 
Technology & Advanced Learning North Campus Technology Parts 
Crib</a></li>
</ul>
</p>

                                <SECTION ID="Section_2">
                                        <H3>Entertainment Projects</H3>
                                        <P><ul><li><a 
href="http://munro.humber.ca/~n01065769/arcadeprojectV2.php">Pi 
Arcade</a></li>
<li><a 
href="http://munro.humber.ca/~n01020285/Prototype-Lab/DMX-remote/">Moving 
Head Wireless Joystick</a></li>
<li><a 
href="http://humberetc.com/humber-celebrates-the-opening-of-new-prototype-lab/">Lab 
Launch</a> (<a 
href="https://www.youtube.com/watch?v=MW1G-nwe_cc">Video</a>)
<a 
href="http://www.humber.ca/news/play-innovate-and-create">"Play, 
innovate and create"</a>
</li>
</ul>
</p>
                                </SECTION>

                                <SECTION ID="Section_3">
                                        <H3>Connected Projects</H3>
<p><ul>
<li>RPi Getting Started (WiFi, etc.)</li>
<li>Traffic light</li>
<li>RPi shield</li>
<li>Ultrasonic</li>
<li>Examples: <a 
href="http://www.alsoenergy.com/PowerTrack/PowerLobby.aspx?sid=33838">LRC, 
</a><a 
href="https://enlighten.enphaseenergy.com/pv/public_systems/uhYK12095/overview"> 
Kortright</a>,
<a href="http://www.sowcdata.ca/groups/ALD/sites/RR1">Southern 
Ontario Water Consortium</a></li>
</ul></p>
                                        <H4>CENG Monday Section</H4>
                                        <p><ul>
<li><a 
href="http://munro.humber.ca/~
n01008162/ceng355/index.php"> 
	Inventory Management - Harshadha and Sarosh
</a></li>
<li><a 
href="http://javawebandroid.com/"> 
	Parking Lot</a> -
<a href="http://munro.humber.ca/~
n01081429/ceng355/index.php"> 
Sonam,
	Sukhan Jot, and
Sukhdeep Kaur</a>
</li>
<li><a 
href="http://munro.humber.ca/~
clpr0027/ceng355/index.php"> 
	Caged Drone - Richard and Rakul
</a></li>
<li><a 
href="http://munro.humber.ca/~
spnn0141/drone/index.php"> 
	Boxed Drone</a> -
<a 
href="http://munro.humber.ca/~
spnn0141/ceng355/index.php"> 
Nikolas,
</a><a 
href="http://dkonieczek.com/drone"> 
	Dennis, and
	Peter
</a></li>
<li><a 
href="http://munro.humber.ca/~
n01021772/ceng355/index.php"> 
	DMX RDM - Simranjit,
	Sheranga, and
	David
</a></li></ul></p>

                                        <H4>CENG Thursday Section</H4>
                                        <p><ul>
										<li><a 
href="http://munro.humber.ca/~
bnns0231/ceng355/index.php"> 
	Solar Data Display - Seenan and Winfred

</a></li>
<li><a 
href="http://munro.humber.ca/~dcht0017/CENG355/index.php">
Passive House - Ethan</a>, 
<a href="http://munro.humber.ca/~brtj0471/ceng512/">
Juan</a>, and 
<a href="http://munro.humber.ca/~jwhs0005/ceng512/">Hassan
</a></li>
<li><a 
href="http://munro.humber.ca/~
zhnw0096/hardware/buildinstructions.php"> 
	Golf Course - Wenzhong,
	Feisal,<a 
href="http://www.tiagoalvesdb.com.gridhosted.co.uk/GWS/"> 
	and</a> <a 
href="http://www.tiagoa.com/GWS/"> Tiago
</a></li>
<li><a href="http://ergoagri.esy.es/">

	Seed Germination and Growth</a> - 
<a href="http://munro.humber.ca/~
mccd0236/ceng355/index.php"> 
Derek and
	Christian
</a></li>
										<li><a 
href="http://munro.humber.ca/~chgc0008/ceng512/"> 
	Prusa Web - Chandan

</a></li>
</ul></p>
										</SECTION>

                                <SECTION ID="Section_4">
                                        <H3>Electronics Projects</H3>
                                        <p>
<ul>
<li><a 
href="http://munro.humber.ca/~n01020285/Prototype-Lab/555-PCB/">555 
PCB</a></li>
<li>Power Supply</li>
<li><a 
href="https://twitter.com/HumberSATCE/status/690214051335503872">Arduino</a> 
(<a 
href="http://humberlife.com/clubs/tech-club/">Tech Club</a> 
<a 
href="http://us12.campaign-archive1.com/home/?u=05ca87f299af88cc99f04b8e5&id=372db3e987">
Workshop</a>)</li> 
<li>Nanomouse</li>
<li>ArmLeap</li>
<li><a 
href="http://www.humber.ca/staff/announcement/library-eresources-thank-you-and-more-trials">IEEE</a></li>
</ul></p>
                                </SECTION>
                                <SECTION ID="Section_5">
                                        <H3>Research Projects</H3>
                                        <p>
<ul>
<li><a href="http://www.humber.ca/research/node/915">Martino</a></li>
<li><a href="http://www.humber.ca/research/node/922">SunPillar</a></li> 
<li><a href="https://humber.ca/research/partners/our-partners">Crystal 
Fountains</a></li>
</ul></p>
                                </SECTION>

                        </ARTICLE>